h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 20px 0 10px;
  padding-top: 20px;
  }
  
  h2 {
  font-size: 1.3rem !important;
  }

  h3 {
    font-size: 1.3rem !important;
    display: inline-block;
    }

  h2, h3 {
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
  }
  
  ul {
  margin: 20px 0;
  padding-left: 30px;
  list-style: disc;
  }
  
  ul li {
  margin-bottom: 10px;
  }

  .box1 {
    border: 1px solid white;
    border-radius: 10px;
  }

  .box1:hover {
    background-color: white;  
  }

  .inline {
    display: inline-flex;
    align-items: center;
    gap: 30px;
    }
  
/* Code Title Styling from: https://codepen.io/vedadesigns/pen/GPxYZg */
#workExperience {
    text-align: center;
        font-size:30px; font-weight:300; color:#222; letter-spacing:1px;
        text-transform: uppercase;
    
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        grid-template-rows: 27px 0;
        grid-gap: 20px;
        align-items: center;
      font-weight: bold;
    }
    
    #workExperience:after,#workExperience:before {
        content: " ";
        display: block;
        border-bottom: 1px solid #e3a405;
        border-top: 1px solid #e3a405;
        height: 10px;
      background-color:#4293d1;
    }