h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 20px 0 10px;
  padding-top: 20px;
  }
  
  h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 20px 0 10px;
  }
  
  ul {
  margin: 20px 0;
  padding-left: 30px;
  list-style: disc;
  }
  
  ul li {
  margin-bottom: 10px;
  }
  
  #workExperience{
  text-align: center;
  }