.container-fluid {
  height: 100vh; 
  /* viewport height */
}

.row {
  height: 100%;
}

.col-md-8,
.col-lg-6 {
  margin-top: -50px;
}

.hi {
  font-weight: bold !important;
  color: black;
  font-size: 4.2rem !important;
}

.future {
  font-weight: bold;
  font-size: 2.0rem !important;
  color: black;
}

.unl {
  color: black;
  font-size: 1.2rem;
  text-align: center;
  padding-bottom: 50px;
}
