@media (prefers-color-scheme: dark) {
  p, h1, h2, h3, ul, li{
    color: white !important;
  }
  #contactTitle:after, #contactTitle:before {
    background-color: #0d253f !important;
    border-bottom: 2px solid #f27908 !important;
    border-top: 2px solid #f27908 !important;
  }
  #Contact{
    color: white !important;
  }

  #span{
    color: white !important;
  }

  #button {
    background-color: #0d253f !important;
    color: white !important;
    border: 1px solid white !important;
  }

  #button:hover {
    background-color: #f27908 !important;
    color: white !important;
    border: 1px solid white !important;
  }
}

#Contact {
  padding-top: 40px;
  width: 800px;
  margin: 0 auto;
}

#Contact .divForBox {
  margin-bottom: 20px;
}

#Contact .label {
  border: 1px solid black;
}

#Contact .form-control {
  border: 1px solid black;
  color: black !important;
}

#email, #name, #messageBox{
  color: green !important;
}

#Contact label {
  font-weight: bold;
}

#message {
  resize: none;
}

#contactTitle {
  text-align: center;
}

#button
{
  background-color: #4293d1;
  border: 1px solid black;
  color: black
}

#button:hover {
  background-color: white;
  color: black;
  transform: scale(1.1);
}

#span{
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

/* Code Title Styling from: https://codepen.io/vedadesigns/pen/GPxYZg */
  #contactTitle {
    text-align: center;
        font-size:30px; font-weight:300; color:#222; letter-spacing:1px;
        text-transform: uppercase;
    
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        grid-template-rows: 27px 0;
        grid-gap: 20px;
        align-items: center;
      font-weight: bold;
    }
    
    #contactTitle:after,#contactTitle:before {
        content: " ";
        display: block;
        border-bottom: 2px solid #f27908;;
        border-top: 2px solid #f27908;
        height: 10px;
      background-color:white;
    }
