@media (prefers-color-scheme: dark) {
  #About, p, h1, h2, h3, ul, li {
    color: white !important;
  }

  .skills h1:after, .skills h1:before {
    background-color: #343a40 !important;
    border-bottom: 2px solid #f27908 !important;
    border-top: 2px solid #f27908 !important;
  }

  .list {
    color: black !important;
  }

  .mySkills { 
    background-color: #343a40 !important;
    color: white !important;
    border: 1px solid white !important;
  }

  .mySkills:hover {
    background-color: #f27908 !important;
    color: white !important;
    border: 1px solid white !important;
  }
}

.skills {
  padding: 50px;
  text-align: center;
}

.heading {
  color: black;
  margin-bottom: 1rem;
}

.list {
  color: black;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mySkills {
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  background-color: #4293d1;
  border: 1px black;
  font-size: 16px;
  border: 1px solid black;
}

.mySkills:hover {
  background-color: white;
  color: black;
  transform: scale(1.1);
}

#skills {
  padding-bottom: 15px;
}

/* Code Title Styling from: https://codepen.io/vedadesigns/pen/GPxYZg */
.skills h1 {
  text-align: center;
      font-size:30px; font-weight:300; color:#222; letter-spacing:1px;
      text-transform: uppercase;
  
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      grid-template-rows: 27px 0;
      grid-gap: 20px;
      align-items: center;
    font-weight: bold;
  }
  
  .skills h1:after,.skills h1:before {
      content: " ";
      display: block;
      border-bottom: 2px solid #f27908;
      border-top: 2px solid #f27908;
      height: 10px;
      background-color:#f8f8f8;
  }