.skills {
  padding: 50px;
  text-align: center;
}

.skills-heading {
  color: black;
  margin-bottom: 1rem;
}

.skills-list {
  color: black;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-list-item {
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  background-color: #4293d1;
  border: 1px black;
  font-size: 16px;
  border: 1px solid black;
}

.skills-list-item:hover {
  background-color: white;
  color: black;
  transform: scale(1.1);
}

#skills {
  padding-bottom: 15px;
}
