.interests {
  padding: 2rem;
  border-radius: 5px;
  text-align: center;
}

.activity {
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 5px;
}

.activity:hover {
  background-color: white;
}

.heading {
  font-size: 1.5rem;
  color: black;
  margin-bottom: 1rem;
}

.description {
  font-size: 1rem;
  color: black;
}

/* Got From CSS for heading: https://codepen.io/vedadesigns/pen/GPxYZg */
#title{
  text-align: center;
      font-size:30px; font-weight:300; color:#222; letter-spacing:1px;
      text-transform: uppercase;
  
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      grid-template-rows: 27px 0;
      grid-gap: 20px;
      align-items: center;
    font-weight: bold;
  }
  
  #title:after,#title:before {
      content: " ";
      display: block;
      border-bottom: 2px solid #f27908;
      border-top: 2px solid #f27908;
      height: 10px;
      background-color:#4293d1;
  }
